@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --nav-bg-color: #333;
  --nav-bg-color-active: #111;
  --green: #056767;
  --body-bg-color: rgba(3, 3, 3, 0.8);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url("../resources/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--nav-bg-color);
  color: white;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
}

nav a:hover {
  background-color: var(--nav-bg-color-active);
}

nav ul li.navHomeIcon {
  margin-right: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
}

nav ul li.navHomeIcon i {
  font-size: 30px;
  margin-right: 15px;
}

nav ul li.navHomeIcon h1 {
  font-size: 20px;
  padding: 0;
}

nav ul li.searchBar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

nav ul li.searchBar .container {
  background-color: white;
  display: flex;
  align-items: center;
  margin: 0 30px;
  padding: 5px 15px;
  border-radius: 20px;
}

nav ul li.searchBar input {
  border: 0;
  font-size: 15px;
  width: 200px;
}

nav ul li.searchBar input:focus {
  outline: none;
}

nav ul li.searchBar input::placeholder {
  color: var(--green);
}

nav ul li.searchBar button {
  cursor: pointer;
  margin: 0 5px;
  color: var(--green);
  border: 0;
  background-color: white;
  font-size: 18px;
}

nav ul li.searchBar button:active {
  transform: scale(0.95);
}

.webIntro {
  flex: 1;
  background-color: var(--nav-bg-color-active);
  background: linear-gradient(
    90deg,
    var(--nav-bg-color) 0%,
    rgba(3, 3, 3, 0) 100%
  );
  width: 60%;
  display: flex;
  color: white;
}

.webIntro .socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webIntro .socialMedia a {
  color: white;
  font-size: 30px;
  padding: 20px 30px;
}

.webIntro .info {
  margin: 100px 30px;
  text-shadow: var(--nav-bg-color) 1px 0 20px;
}

.webIntro .info h1 {
  font-size: 100px;
  font-weight: bold;
}

.webIntro .info p {
  font-size: 20px;
  width: 60%;
  padding: 20px 300px 50px 10px;
}

.webIntro .info button {
  background-color: var(--green);
  color: white;
  border: 0;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
  border-radius: 10px;
}

.webIntro .info button:active {
  transform: scale(0.95);
}
